body
{
	background-image: url(a1.JPG); font-family:Lucida Sans Unicode;
	
	color:LavenderBlush;
}

img
{
	height:50px; width:50px; border-radius:15px; border:3px double Gainsboro;
	
}

table
{
	 border-radius:14px; padding:10px;
}



.a1
{
	margin-left:10px; margin-top:-10px; color:black; width:250px;
}

.a2
{
	border:2px inset LightCyan; border-radius:15px; width:400px;
}

.a3
{
	margin:5px; width:74%; height:45px;
	border:2px inset DimGray; border-radius:8px;
	font-size:18px; 
	margin-left:10%; background-color:Gainsboro;
	margin-top:40px;
}

.a4
{
	font-size:40px; color:White;
}

.a5
{
	border:2px inset LightCyan; border-radius:15px; 
	width:400px; margin-left:450px; margin-top:-203px;
}

.a6
{
	border:5px ridge DimGray;
	border-radius:12px; background-color:Gainsboro;
	margin:5px;  padding:3px; text-align:center;
	height:40px; color:width;
	width:100px;
}

.a6:hover
{
	background-color:silver;
}

.a7
{
	margin:5px; height:40px;
	border:2px solid silver; border-radius:8px;
}

.a7:hover
{
	background-color:silver; border-radius:25px;
}

.a8
{
	margin:5px; height:40px;
	border:2px solid silver; border-radius:8px;
	margin-left:91%; width:100px; position:fixed;
}

.a8:hover
{
	background-color:silver; border-radius:25px;
}

input
{
	margin:5px;  height:30px; width:350px;
	border:2px double DimGray; border-radius:8px;
	font-size:15px;padding-left:10px; 
	margin-left:10%; background-color:Gainsboro; color:black;
}

hr
{
	width:88%; height:7px; background-color:LightGrey; 
	border-radius:15px;
}



