body
{
	background-image: url(a1.PNG);
}

a
{
	text-decoration:none; color:black;
}


.a1
{
	height:500px; border:4px ridge silver; margin-top:-370px;
	width:450px;
	
}

.a2
{
	font-family:Trebuchet MS; font-size:22px; color:white;
	
}

.a3{color:lime;}

.a4
{
	width:10%; height:35px;
	border:2px solid lime; border-radius:15px;
	margin-left:25px; color:GreenYellow;
	font-family:Verdana; margin-left:65px;
}

h1,h2
{
	margin-left:470px; font-family:Lucida Sans Unicode;
}

h2
{
	color:Gray;
}

.a5
{
	color:DimGray; border:4px groove SlateGray; 
	width:270px;border-radius:25px; 
	background-color:Gainsboro;
}

.a6
{
	border:4px groove SlateGray; width:270px; border-radius:9px; 
	background-color:Gainsboro;
}

.a7
{
	color:silver;
	margin-top:-100px;
	border:2px solid white;
	border-radius:25px;
	font-size:50px;
	width:220px;
	padding:0.5px;
	background-color:SlateGray;
	margin-left:470px;
}
